canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Fica atrás da UI */
}

#placar-lisas, #placar-listras, #ui-overlay {
    z-index: 10; /* Garante que o placar fique na frente */
    pointer-events: none; /* Permite clicar através da UI para jogar */
}

#fullscreen-btn {
    pointer-events: auto; /* Botão volta a ser clicável */
}

