body {
    background: radial-gradient(circle, #2c1e14 0%, #000000 100%); /* Fundo escuro de bar */
    overflow: hidden;
    margin: 0;
    font-family: 'Arial Black', sans-serif;
}

/* Mesa de Sinuca - Feltro Verde Clássico */
canvas { 
    display: block; 
    filter: contrast(1.1) brightness(0.9); /* Estilo mais rústico */
}

/* Placar estilo lousa de giz */
#placar-lisas, #placar-listras {
    background: rgba(20, 40, 20, 0.9);
    border: 3px solid #5d4037; /* Moldura de madeira */
    color: #e0e0e0;
    padding: 10px;
    font-family: 'Courier New', monospace;
    text-transform: uppercase;
}

/* Overlay de Quebrada */
#ui-overlay {
    text-shadow: 2px 2px #000;
}

#turn-msg {
    color: #ffeb3b; /* Amarelo vivo */
    background: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 5px;
}

